/* code */

* {
  margin: 0;
  padding: 0;
}

/* colors:
#cebc81
#a16e83
*/

body {
  background-color: #b19f9e;
  font-size: 150%;
  font-family: "Abel";
}

/* TODO make a border class and assign it to all relevant elements */

header {
  margin: 10px;
  padding: 35px;
  display: flex;
  justify-content: space-between;
  font-family: "Oswald";
}

.quiz-container {
  overflow: auto;
  height: 60vh;
  margin: 15px;
  padding: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  box-shadow: 3px 3px 7px black;
}

h2,
p {
  padding: 5px;
}

.btn {
  margin: 40px;
  padding: 7px;
  background-color: #479761;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 3px 3px 6px grey;
  font-family: "Abel";
}

.answers {
  padding: 5px;
  margin: 15px;
  background-color: #a16e83;
  color: white;
  text-align: left;
  border-radius: 15px;
}

.answers:hover {
  background-color: #cebc81;
}

.user-initials {
  padding: 7px;
  border-radius: 25px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.scores-board {
  flex-direction: column;
}

.score-title {
  padding: 10px;
}

.score-div {
  display: flex;
  justify-content: space-around;
}
