/* code */

* {
  margin: 0;
  padding: 0;
}

/* colors:
#cebc81
#a16e83
*/

body {
  background-color: #b19f9e;
}

/* TODO make a border class and assign it to all relevant elements */

header {
  padding: 35px;
  display: flex;
  justify-content: space-between;
}

.quiz-container {
  height: 50vh;
  margin: 15px;
  padding: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  box-shadow: 3px 3px 7px black;
}

h2,
p {
  padding: 5px;
}

.btn {
  margin: 50px;
  padding: 7px;
  background-color: #479761;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 3px 3px 6px grey;
}

.hidden {
  display: none;
}
